@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
	--accent-color: #7371fc;
	--primary-color: #bcffd0;
	--secondary-color: #242424;
	--default-border-radius: 32px;
	--background-color: #202020;
	--active-link-color: #769a96;
	--primary-text-color: #212121;
	--secondary-text-color: #9fa8b4;
	--background-link-color: #9fd6b8;
}

body {
	height: 100vh;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: .015em;
	font-family: 'work Sans', sans-serif;
}

main {
	height: 100%;
}

a {
	color: var(--secondary-color);
}

#logo {
	display: flex;
}

#logo a {
	padding: 0 24px;
	user-select: none;
	position: relative;
	margin: 0 0 18px 0;
}

#logo svg {
	width: 100%;
	height: 40px;
	max-width: 131px;
}

#top-bar {
	z-index: 2;
	height: 60px;
	grid-area: main-view;
}

#top-bar header {
	z-index: 3;
	width: 100%;
	height: 60px;
	display: flex;
	padding: 16px;
	align-items: center;
	justify-content: space-between;
}

.btn {
	color: white;
	cursor: pointer;
	font-weight: 700;
	padding: 8px 34px;
	line-height: 18px;
	text-align: center;
	white-space: nowrap;
	letter-spacing: 1.76px;
	text-transform: uppercase;
	border: 2px solid transparent;
	background-color: var(--accent-color);
	border-radius: var(--default-border-radius);
}

#user-widget-btn {
	padding: 2px;
	height: 32px;
	display: flex;
	cursor: pointer;
	min-width: 32px;
	font-weight: 800;
	align-items: center;
	justify-content: center;
	border: 2px solid transparent;
	/* background-color: transparent; */
	color: var(--secondary-text-color);
	border-radius: var(--default-border-radius);
}

#user-widget-btn span {
	margin: 0 8px;
	letter-spacing: -0.5px;
}

figure > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#user-widget-btn img {
	border-radius: 50%;
}

#main-container {
	height: 100%;
	display: grid;
	grid-template-rows: 1fr auto;
	grid-template-columns: auto 1fr;
	grid-template-areas: "nav-bar main-view" "player player";
}

#content {
	overflow: hidden;
	/* display: none; */
	background-color: white;
	border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);
}

#queue {
	bottom: 0;
	width: 100%;
	height: 42%;
	z-index: -1;
	position: absolute;
	background-color: var(--background-color);
}

#nav-bar {
	width: 232px;
	height: 100%;
	display: flex;
	padding-top: 24px;
	grid-area: nav-bar;
	flex-direction: column;
	background-color: var(--primary-color);
	border-radius: 0 var(--default-border-radius) 0 var(--default-border-radius);
}

#nav-bar ul li {
	padding: 0 8px;
}

#nav-bar ul li a {
	height: 45px;
	display: flex;
	padding: 0 16px;
	align-items: center;
	border-radius: var(--default-border-radius);
}

#nav-bar ul li a[aria-current-path] {
	color: var(--active-link-color);
	background-color: var(--background-link-color);
}

#main-view {
	grid-area: main-view;
}

.icon {
	width: 24px;
	height: 24px;
	margin-right: 16px;
}

.add-btn {
	fill: white;
	width: 32px;
	height: 32px;
	padding: 4px;
	border-radius: 4px;
	background: var(--secondary-color);
}

.page-context-text {
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	text-transform: none;
	letter-spacing: normal;
}

.ellipsis-one-line {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.sidebar-items {
	flex: 1 0 0%;
	display: flex;
	margin-top: 24px;
	flex-direction: column;
}

.sidebar-items h1 {
	min-height: 16px;
	margin: 0 24px 12px 24px;
	color: var(--active-link-color);
}

hr {
	height: 1px;
	border: none;
	min-height: 1px;
	margin: 8px 24px 8px 24px;
	background-color: var(--secondary-color);
}

#create-playlist {
	width: 100%;
	opacity: .7;
	border: none;
	display: flex;
	cursor: pointer;
	align-items: center;
	min-height: max-content;
	padding: 5px 24px 5px 24px;
	background-color: transparent;
	transition: opacity .2s linear;
}

#player {
	z-index: 4;
	color: white;
	height: 90px;
	display: flex;
	padding: 0 50px;
	grid-area: player;
	align-items: center;
	justify-content: space-between;
	/*border: 2px solid red;*/
	/*border-top: 1px solid black;*/
}

#info {
	display: flex;
	align-items: center;
}

#player > * {
	width: 30%;
}

#player > #controls {
	width: 40%;
}

#track-info {
	margin: 0 14px;
}

#track-artist {
	font-weight: 500;
	font-size: 12px;
}

.player-controls {
	width: 224px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

#player-seek-bar {
	width: 100%;
}

.player-buttons {
	width: 32px;
	height: 32px;
}

.player-progress-bar {
	width: 100%;
	height: 12px;
	position: relative;
}

.player-progress-bar > * {
	height: inherit;
}

.player-progress-time {
	font-size: 11px;
	min-width: 40px;
	font-weight: 400;
	line-height: 16px;
	text-align: center;
	text-transform: none;
	letter-spacing: normal;
}